.App {
  text-align: center;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #57bb8a;
}
h1 {
  font-size: 40pt;
  font-weight: bold;
  padding: 12pt;
}

h2 {
  color: #bb5788;
  padding: 4pt;
}

h3,
p {
  font-style: italic;
}

#resultcontainer {
  box-shadow: blanchedalmond 8pt;
  color: #57bb8a;
  font-size: 24pt;
  font-style: italic;
}

.btn-lg {
  background-color: #57bb8a;
  box-shadow: blanchedalmond;
  color: white;
  font-weight: bold;
}

#userview,
#goalview {
  background-color: #f1f9f5;
}

#welcome,
#resultcontainer {
  background-color: #bb5788;
  color: white;
  box-shadow: #f1f9f5 4pt;
}
